/* store variables in html */
html {
    --background:   #1D1F28;
    --foreground:   #FDFDFD;
    --darkgrey:     #414458;
    --red:          #FF4971;
    --green:        #18E3C8;
    --yellow:       #FF8037;
    --blue:         #556FFF;
    --magenta:      #B043D1;
    --cyan:         #3FDCEE;
    --white:        #BEBEC1;
    --darkred:      #F37F97;
    --darkgreen:    #5ADECD;
    --darkyellow:   #F2A272;
    --darkblue:     #8897F4;
    --darkmagenta:  #C574DD;
    --darkcyan:     #79E6F3;

    --containerpadding: 20px;
    --maxwidth: 1200px;

    --body-font: Iosevka, Lucida Console, monospace;
    --header-font: Source Sans Pro, Arial, sans-serif;
}

body {
    background-color: var(--background);
}

/**
 * all the stuff for the header section
 *
 */
.header {
    /* layout */
    max-width: var(--maxwidth);
    box-sizing: border-box; /* maintain size of div even with padding */
    padding: 10px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    /* style */
    color: var(--foreground);
}

.header-box {
    flex: 3 0 0;
    min-width: 300px;
}

.header-weather {
    /* define this after .header-box */
    flex: 1 0 0;

    align-self: stretch;    /* fill full height of parent */
    display: flex;          /* allow child to be anchored to bottom right */
    flex-direction: row-reverse;    /* anchor to right */
    align-items: flex-end;  /* anchor to bottom */
}

.header-line-1 {
    /* layout */
    text-align: left;

    /* style */
    font-family: var(--body-font);
    font-size: 16pt;
}

.header-line-2 {
    /* layout */
    text-align: left;

    /* style */
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 48pt;
}

#greeting-time {
    color: var(--cyan);
}

#greeting-date {
    color: var(--white);
}

#greeting-separator {
    color: var(--white);
}

.header-right-text {
    flex: 1 0 0;

    font-family: var(--header-font);
    font-weight: bold;
    font-size: 16pt;

    text-align: right;
}

/**
 * all the stuff for the main part of the page
 *
 */
.main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background);

    max-width: var(--maxwidth);
    margin-left: auto;
    margin-right: auto;
}

/* Define base style for a box */
.box {
    background-color: var(--darkgrey);
    color: var(--foreground);
    height: 32em;
    padding: var(--containerpadding);
    margin: 10px;

    border-top: 1px solid var(--darkyellow);
    border-radius: 4px;

    min-width: 300px;
    flex: 1 0 0;
}

.section-heading {
    font-family: var(--body-font);
    font-size: 16pt;
    color: var(--green);
}

.links {
    flex: 3 0 0;
}

.side-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 2 0 0;
}

.news {
    flex: 1 0 0;
}

.weather {
    flex: 1 0 0;
}

/*
 * Preferences sidebar
 */
.sidebar {
    width: 300px;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    margin: 0px 0px 0px 0px;

    z-index: 1;

    background-color: var(--cyan);
}


/* CSS special cases for small screens */
@media (max-width: 799px) {
    .header-line-1 {
        font-size: 14pt;
    }

    .header-line-2 {
        font-size: 32pt;
    }
}
